* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    padding: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;  
    gap: 1rem;
    margin-top: 5px;
}

.button-group button {
    width: 100%;
    cursor: pointer;
}
/* Media Queries */